name: Build RACKit and Run Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    paths:
      - lib/Hutch.Rackit/**
      - tests/Hutch.Rackit.Tests/**
      - .github/workflows/check.rackit.build-test.yml

env:
  # Configure these
  build-config: release
  dotnet-version: 10.0.x
  project: ./lib/Hutch.Rackit
  test-project: ./tests/Hutch.Rackit.Tests

  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.dotnet-version }}
      - name: dotnet build
        run: >-
          dotnet build
          ${{ env.project }}
          -c ${{ env.build-config }}
      - name: Run RquestBridge Tests
        run: >-
          dotnet test
          ${{ env.test-project }}
          -c ${{ env.build-config }}
